


.chatInputContainer {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
   
    }


-----


.container {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 60px);
}

.layout {
    height: calc(100vh - 160px);
    background: #fff;
}

.content {
    background: #fff;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mainArea {
    flex: 1;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
}

.userMessageContainer {
    width: 100%;
}

.tabs {
    background: #fff;
    margin-bottom: 20px;
  
    
}


.statusContainer {
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.contentArea {
    background-color: #fff;
}

.statusSidebar {
    width: 650px;
    border-left: 1px solid #eaeaea;
    padding: 24px;
    background: #fff;
}

.header {
    position: sticky;
    height: 60px;
    top: 0;
     background: #fff;
    z-index: 10;

    border-bottom: 1px solid #eaeaea;
}